/* Обнуление некоторых стилей */

@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
*,
*:before,
*:after {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Roboto Mono", monospace;
    color: white;
}

html {
    --clr-neon: hsl(317 100% 54%);
    --clr-bg: hsl(323 21% 16%);
}
body {
    height: 100vh;
    padding-top: 20px;
    background: var(--clr-bg);
    overflow: hidden;
}
.nav {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    min-width: 800px;
    flex-wrap: wrap;
}
.header {
    text-align: center;
    font-size: 40px;
    margin-bottom: 20px;
}
.nav__button {
    flex-basis: 15%;
    font-size: 15px;
    display: inline-block;
    cursor: pointer;
    background: none;
    border: 1px solid var(--clr-neon);
    padding: 5px 10px;
    border-radius: 5px;
    transition: all 0.4s ease;
}
.nav__button:hover {
    background-color: var(--clr-neon);
    transform: translateY(5px);
}
.slider {
    appearance: none;
    width: 250px;
    display: block;
    height: 20px;
    background-color: #fff;
    border-radius: 5px;
    outline: none;
    opacity: 0.7;
    transition: opacity 0.2s ease-in;
    flex: 1;
}

.reversedRange {
    direction: rtl;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: var(--clr-neon);
    cursor: pointer;
}
.container {
    margin: 0 auto;
    width: fit-content;
}
.array {
    background-color: rgba(0, 0, 0, 0.3);
    height: 320px;
    border-radius: 10px 10px 0 0;
    margin: 0 auto;
    position: relative;
    margin-top: 15px;
}

.array__element {
    width: 28px;
    background: var(--clr-neon);
    position: absolute;
    bottom: 0px;
    border-radius: 15px 15px 0 0;
    transition: 0.4s all ease;
    box-shadow: 0 0 0.3em var(--clr-neon);
}

/* Зеркальное отражение элемента */

.array__element::before {
    content: "";
    position: absolute;
    background: var(--clr-neon);
    bottom: -110%;
    left: 0;
    width: 100%;
    height: 100%;
    /* transform: perspective(1em); */
    filter: blur(1em);
}

.array__label {
    position: absolute;
    margin-top: -20px;
    width: 100%;
    text-align: center;
}

.alert {
    background: var(--clr-neon);
    padding: 20px 40px;
    min-width: 420px;
    position: absolute;
    right: 0;
    bottom: 10px;
    border-radius: 4px;
    border-left: 6px solid #fff;
    opacity: 0; /*  Для того, чтобы попапа не было видно при открытии страницы*/
    pointer-events: none;
}
.alert__check-mark {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
}

.alert__msg {
    padding: 0 20px;
    font-size: 18px;
}

/* Анимация для появления popupa */
.alert.show {
    animation: slide_show 1s ease forwards;
}
/* Анимация для исчезновения popupa */
.alert.hide {
    animation: slide_hide 1s ease forwards;
}

.alert.showAlert {
    opacity: 1;
    pointer-events: auto;
}

@keyframes slide_show {
    0% {
        transform: translateX(100%);
    }

    40% {
        transform: translateX(-10%);
    }

    80% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-10px);
    }
}

@keyframes slide_hide {
    0% {
        transform: translateX(-10px);
    }
    40% {
        transform: translateX(0%);
    }
    80% {
        transform: translateX(-10%);
    }
    100% {
        transform: translateX(100%);
    }
}
